.blog{
    border: 1px solid black;
    margin: 50px 0;
    padding: 20px;
}
.blog-text{
    color:black
}

.blog-comments{
    border: 1px solid grey;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;   
}
.comment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    max-width: 100%;
    min-width: 270px;
}

.comment-userName{
    margin: 0 20px 10px 0;
}

.comment-text-block{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 500px;
    text-align: start;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    min-width: 260px;
}

.comment-text-icon-block{
    display: flex;
    
}
.comment-text-icon-block p{
  margin-right: 20px;
    
}

.comment-edite-icon{
    margin: 0 15px;
}

.parent-comment{
    text-decoration: none;
    margin-bottom: 10px;
    color:  white;
    background-color: #1677FF;
    text-align: center;
    border-radius: 10px;
    padding: 1%;
    position: relative;
}
.parent-comment::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #1677FF transparent transparent transparent;
}
.active-comment {
    animation-name: fadeInOut;
    animation-duration: 4s;
  }

.user-comment{
   align-items: flex-end;
   text-align: end;
}
.user-comment p{
  color: gray;
}
.user-comment .comment-text-icon-block{
  display: flex;
  justify-content: flex-end;
  
}
  @keyframes fadeInOut {
    0% {
      background-color: transparent; 
      color: transparent;
    }
    50% {
      background-color: grey;
      color: white;
    }
    100% {
      background-color: inherit;
      color: black; 
    }
  }
  