.blog{
    border: 1px solid black;
    margin: 50px 0;
}
.blog-text{
    color:black
}

.blog-comments{
    border: 1px solid grey;
}
.comment{
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-userName{
    margin-right: 20px;
}

.comment-text-block{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 500px;
    text-align: start;
}

.comment-text-icon-block{
    display: flex;
    
}
.comment-text-icon-block p{
  margin-right: 20px;
    
}

.comment-edite-icon{
    margin: 0 15px;
}

.parent-comment{
    text-decoration: none;
    margin-bottom: 10px;
}

.active-comment {
    animation-name: fadeInOut;
    animation-duration: 4s;
  }

.user-comment{
   align-items: flex-end;
}
  
  @keyframes fadeInOut {
    0% {
      background-color: transparent; 
      color: transparent;
    }
    50% {
      background-color: grey;
      color: white;
    }
    100% {
      background-color: inherit;
      color: black; 
    }
  }
  