.comment-form{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    
}

.comment-form button{
    max-width: 150px;
    margin-left: 20px;
    padding: 0;
    align-self: flex-end;
}

.comments-textarea{
    /* width: 280px; */
 
}

.answer-form{
    display: flex;
    flex-direction: column ;
}
.answer-form button{
   margin-top: 10px;
}

.emoji_button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: inherit;
    cursor: pointer;
    font-size: 30px;
}